article.AssetSearchList--asset {
  padding-bottom: 85px;
  transform: none !important;
  position: relative;
}

.Asset--loaded {
  transform: none !important;
}

div[role='list'] div[role='listitem'] {
  min-height: 95px;
}

*[class*='FeatureTableCell'][width='300px']:nth-child(2),
*[class*='FeatureTableCell'][width='150px']:nth-child(2) {
  width: 500px !important;
  flex: 0 0 500px !important;
}

div[role='listitem'] .AssetCell--container {
  padding-left: 165px;
  position: relative;
}

div[role='list']
  div[role='listitem']
  .AssetCell--container
  .SuperSea__AssetInfo {
  z-index: 1;
  min-width: 165px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -31px;
}

.SuperSea--tabActive a:after {
  display: none !important;
}

.SuperSea--tabActive a {
  color: #8a939b !important;
}

.SuperSea__CollectionMenuItem__Item {
  opacity: 0.5;
  transition: opacity 400ms ease;
  position: relative;
}

.SuperSea__CollectionMenuItem__Item:after {
  transition: opacity 0.4s ease 0s;
  background-color: rgb(32, 129, 226);
  opacity: 0;
  bottom: 0%;
  content: '';
  display: block;
  height: 4px;
  left: 0px;
  position: absolute;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.SuperSea--tabActive .SuperSea__CollectionMenuItem__Item,
.SuperSea__CollectionMenuItem__Item:not(.SuperSea__CollectionMenuItem__Item--disabled):hover {
  opacity: 1;
}

.SuperSea--tabActive .SuperSea__CollectionMenuItem__Item:after {
  opacity: 1;
}

@keyframes SuperSea__FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes SuperSea__Rotate {
  to {
    transform: rotate(360deg);
  }
}
